In [80]:
# import numpy as np
# np.version.version
!pip install numpy==1.19

Collecting numpy==1.19
  Using cached numpy-1.19.0.zip (7.3 MB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'error'

  error: subprocess-exited-with-error

  Preparing metadata (pyproject.toml) did not run successfully.
  exit code: 1

  [66 lines of output]
  Running from numpy source directory.
  <string>:460: UserWarning: Unrecognized setuptools command, proceeding with generating Cython sources and expanding templates
  C:\Users\steve\AppData\Local\Temp\pip-install-d0ch2uuq\numpy_40e9121e6c074be488c47a83bc5641b3\tools\cythonize.py:73: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
    required_version = LooseVersion('0.29.14')
  C:\Users\steve\AppData\Local\Temp\pip-install-d0ch2uuq\numpy_40e9121e6c074be488c47a83bc5641b3\tools\cythonize.py:75: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
    if LooseVersion(cython_version) < required_version:
  warning: C:\Users\steve\AppData\Local\Temp\pip-install-d0ch2uuq\numpy_40e9121e6c074be488c47a83bc5641b3\numpy\__init__.pxd:17:0: The 'DEF' statement is deprecated and will be removed in a future Cython version. Consider using global variables, constants, and in-place literals instead. See https://github.com/cython/cython/issues/4310
  warning: C:\Users\steve\AppData\Local\Temp\pip-install-d0ch2uuq\numpy_40e9121e6c074be488c47a83bc5641b3\numpy\__init__.pxd:17:0: The 'DEF' statement is deprecated and will be removed in a future Cython version. Consider using global variables, constants, and in-place literals instead. See https://github.com/cython/cython/issues/4310
  warning: C:\Users\steve\AppData\Local\Temp\pip-install-d0ch2uuq\numpy_40e9121e6c074be488c47a83bc5641b3\numpy\__init__.pxd:17:0: The 'DEF' statement is deprecated and will be removed in a future Cython version. Consider using global variables, constants, and in-place literals instead. See https://github.com/cython/cython/issues/4310
  warning: C:\Users\steve\AppData\Local\Temp\pip-install-d0ch2uuq\numpy_40e9121e6c074be488c47a83bc5641b3\numpy\__init__.pxd:17:0: The 'DEF' statement is deprecated and will be removed in a future Cython version. Consider using global variables, constants, and in-place literals instead. See https://github.com/cython/cython/issues/4310
  warning: _generator.pyx:3224:8: The 'DEF' statement is deprecated and will be removed in a future Cython version. Consider using global variables, constants, and in-place literals instead. See https://github.com/cython/cython/issues/4310
  warning: C:\Users\steve\AppData\Local\Temp\pip-install-d0ch2uuq\numpy_40e9121e6c074be488c47a83bc5641b3\numpy\__init__.pxd:17:0: The 'DEF' statement is deprecated and will be removed in a future Cython version. Consider using global variables, constants, and in-place literals instead. See https://github.com/cython/cython/issues/4310
  warning: C:\Users\steve\AppData\Local\Temp\pip-install-d0ch2uuq\numpy_40e9121e6c074be488c47a83bc5641b3\numpy\__init__.pxd:17:0: The 'DEF' statement is deprecated and will be removed in a future Cython version. Consider using global variables, constants, and in-place literals instead. See https://github.com/cython/cython/issues/4310

  Error compiling Cython file:
  ------------------------------------------------------------
  ...
          for i in range(1, RK_STATE_LEN):
              self.rng_state.key[i] = val[i]
          self.rng_state.pos = i

          self._bitgen.state = &self.rng_state
          self._bitgen.next_uint64 = &mt19937_uint64
                                     ^
  ------------------------------------------------------------

  _mt19937.pyx:138:35: Cannot assign type 'uint64_t (*)(void *) except? -1 nogil' to 'uint64_t (*)(void *) noexcept nogil'. Exception values are incompatible. Suggest adding 'noexcept' to type 'uint64_t (void *) except? -1 nogil'.
  Processing numpy/random\_bounded_integers.pxd.in
  Processing numpy/random\bit_generator.pyx
  Processing numpy/random\mtrand.pyx
  Processing numpy/random\_bounded_integers.pyx.in
  Processing numpy/random\_common.pyx
  Processing numpy/random\_generator.pyx
  Processing numpy/random\_mt19937.pyx
  Traceback (most recent call last):
    File "C:\Users\steve\AppData\Local\Temp\pip-install-d0ch2uuq\numpy_40e9121e6c074be488c47a83bc5641b3\tools\cythonize.py", line 235, in <module>
      main()
    File "C:\Users\steve\AppData\Local\Temp\pip-install-d0ch2uuq\numpy_40e9121e6c074be488c47a83bc5641b3\tools\cythonize.py", line 231, in main
      find_process_files(root_dir)
    File "C:\Users\steve\AppData\Local\Temp\pip-install-d0ch2uuq\numpy_40e9121e6c074be488c47a83bc5641b3\tools\cythonize.py", line 222, in find_process_files
      process(root_dir, fromfile, tofile, function, hash_db)
    File "C:\Users\steve\AppData\Local\Temp\pip-install-d0ch2uuq\numpy_40e9121e6c074be488c47a83bc5641b3\tools\cythonize.py", line 188, in process
      processor_function(fromfile, tofile)
    File "C:\Users\steve\AppData\Local\Temp\pip-install-d0ch2uuq\numpy_40e9121e6c074be488c47a83bc5641b3\tools\cythonize.py", line 77, in process_pyx
      subprocess.check_call(
    File "C:\Users\steve\anaconda3\lib\subprocess.py", line 369, in check_call
      raise CalledProcessError(retcode, cmd)
  subprocess.CalledProcessError: Command '['C:\\Users\\steve\\anaconda3\\python.exe', '-m', 'cython', '-3', '--fast-fail', '-o', '_mt19937.c', '_mt19937.pyx']' returned non-zero exit status 1.
  Cythonizing sources
  Traceback (most recent call last):
    File "C:\Users\steve\anaconda3\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py", line 351, in <module>
      main()
    File "C:\Users\steve\anaconda3\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py", line 333, in main
      json_out['return_val'] = hook(**hook_input['kwargs'])
    File "C:\Users\steve\anaconda3\lib\site-packages\pip\_vendor\pep517\in_process\_in_process.py", line 152, in prepare_metadata_for_build_wheel
      return hook(metadata_directory, config_settings)
    File "C:\Users\steve\AppData\Local\Temp\pip-build-env-g8he0hm9\overlay\Lib\site-packages\setuptools\build_meta.py", line 396, in prepare_metadata_for_build_wheel
      self.run_setup()
    File "C:\Users\steve\AppData\Local\Temp\pip-build-env-g8he0hm9\overlay\Lib\site-packages\setuptools\build_meta.py", line 507, in run_setup
      super(_BuildMetaLegacyBackend, self).run_setup(setup_script=setup_script)
    File "C:\Users\steve\AppData\Local\Temp\pip-build-env-g8he0hm9\overlay\Lib\site-packages\setuptools\build_meta.py", line 341, in run_setup
      exec(code, locals())
    File "<string>", line 489, in <module>
    File "<string>", line 469, in setup_package
    File "<string>", line 274, in generate_cython
  RuntimeError: Running cythonize failed!
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

Encountered error while generating package metadata.

See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [81]:
# https://www.kaggle.com/datasets/guillemservera/grains-and-cereals-futures
import pandas as pd
grains_df = pd.read_csv('all_grains_data.csv')
grains_df

      ticker commodity        date     open     high      low    close  volume
0       ZC=F      Corn  2000-07-17   182.25   182.25   178.25   179.25   19385
1       ZC=F      Corn  2000-07-18   179.00   183.25   179.00   180.75   25205
2       ZC=F      Corn  2000-07-19   180.00   182.75   178.75   182.00   17126
3       ZC=F      Corn  2000-07-20   181.50   187.00   181.00   186.00   18742
4       ZC=F      Corn  2000-07-21   185.50   188.00   185.00   187.75   16814
...      ...       ...         ...      ...      ...      ...      ...     ...
34860   ZS=F   Soybean  2023-09-06  1365.50  1365.50  1359.50  1360.25     102
34861   ZS=F   Soybean  2023-09-07  1349.50  1350.00  1345.00  1345.00     310
34862   ZS=F   Soybean  2023-09-08  1339.00  1349.50  1339.00  1349.50     198
34863   ZS=F   Soybean  2023-09-11  1352.50  1352.50  1352.00  1352.50      36
34864   ZS=F   Soybean  2023-09-12  1344.75  1350.00  1342.50  1343.75    8642

[34865 rows x 8 columns]

In [82]:
grains_df['commodity'].unique()

array(['Corn', 'Oat', 'KC HRW Wheat', 'Rough Rice', 'Soybean Oil',
       'Soybean'], dtype=object)

In [83]:
corn_df = pd.read_csv('individual_data/Corn_data.csv')
corn_df

            date    open    high     low   close  volume
0     2000-07-17  182.25  182.25  178.25  179.25   19385
1     2000-07-18  179.00  183.25  179.00  180.75   25205
2     2000-07-19  180.00  182.75  178.75  182.00   17126
3     2000-07-20  181.50  187.00  181.00  186.00   18742
4     2000-07-21  185.50  188.00  185.00  187.75   16814
...          ...     ...     ...     ...     ...     ...
5786  2023-09-06  473.50  476.25  471.25  471.50     841
5787  2023-09-07  471.25  474.00  468.50  470.75     741
5788  2023-09-08  471.25  472.25  467.00  468.50     233
5789  2023-09-11  470.25  471.50  468.00  471.25     430
5790  2023-09-12  476.50  477.75  476.00  476.75    4399

[5791 rows x 6 columns]

In [84]:
corn_dict = {}
window_size = 7
for i in range(window_size):
    corn_dict['price_'+str(7-i)+'_days_ago'] = corn_df['close'][i:-7+i].reset_index(drop=True) 
corn_dict

{'price_7_days_ago': 0       179.25
 1       180.75
 2       182.00
 3       186.00
 4       187.75
          ...
 5779    470.75
 5780    478.50
 5781    469.50
 5782    461.75
 5783    461.00
 Name: close, Length: 5784, dtype: float64,
 'price_6_days_ago': 0       180.75
 1       182.00
 2       186.00
 3       187.75
 4       184.50
          ...
 5779    478.50
 5780    469.50
 5781    461.75
 5782    461.00
 5783    464.75
 Name: close, Length: 5784, dtype: float64,
 'price_5_days_ago': 0       182.00
 1       186.00
 2       187.75
 3       184.50
 4       182.75
          ...
 5779    469.50
 5780    461.75
 5781    461.00
 5782    464.75
 5783    471.00
 Name: close, Length: 5784, dtype: float64,
 'price_4_days_ago': 0       186.00
 1       187.75
 2       184.50
 3       182.75
 4       180.50
          ...
 5779    461.75
 5780    461.00
 5781    464.75
 5782    471.00
 5783    471.50
 Name: close, Length: 5784, dtype: float64,
 'price_3_days_ago': 0       187.75
 1       184.50
 2       182.75
 3       180.50
 4       181.00
          ...
 5779    461.00
 5780    464.75
 5781    471.00
 5782    471.50
 5783    470.75
 Name: close, Length: 5784, dtype: float64,
 'price_2_days_ago': 0       184.50
 1       182.75
 2       180.50
 3       181.00
 4       180.25
          ...
 5779    464.75
 5780    471.00
 5781    471.50
 5782    470.75
 5783    468.50
 Name: close, Length: 5784, dtype: float64,
 'price_1_days_ago': 0       182.75
 1       180.50
 2       181.00
 3       180.25
 4       180.25
          ...
 5779    471.00
 5780    471.50
 5781    470.75
 5782    468.50
 5783    471.25
 Name: close, Length: 5784, dtype: float64}

In [85]:
X = pd.DataFrame.from_dict(corn_dict)
X

,price_7_days_ago,price_6_days_ago,price_5_days_ago,price_4_days_ago,price_3_days_ago,price_2_days_ago,price_1_days_ago
0,179.25,180.75,182.00,186.00,187.75,184.50,182.75
1,180.75,182.00,186.00,187.75,184.50,182.75,180.50
2,182.00,186.00,187.75,184.50,182.75,180.50,181.00
3,186.00,187.75,184.50,182.75,180.50,181.00,180.25
4,187.75,184.50,182.75,180.50,181.00,180.25,180.25
...,...,...,...,...,...,...,...
5779,470.75,478.50,469.50,461.75,461.00,464.75,471.00
5780,478.50,469.50,461.75,461.00,464.75,471.00,471.50
5781,469.50,461.75,461.00,464.75,471.00,471.50,470.75
5782,461.75,461.00,464.75,471.00,471.50,470.75,468.50
5783,461.00,464.75,471.00,471.50,470.75,468.50,471.25

In [86]:
y = corn_df['close'][7:].reset_index(drop=True) 
y

0       180.50
1       181.00
2       180.25
3       180.25
4       179.75
         ...
5779    471.50
5780    470.75
5781    468.50
5782    471.25
5783    476.75
Name: close, Length: 5784, dtype: float64

In [87]:
train_pct = .9
X_train = X[:int(len(X)*train_pct)]
X_test = X[int(len(X)*train_pct):]
y_train = y[:int(len(y)*train_pct)]
y_test = y[int(len(y)*train_pct):]

In [88]:
from sklearn.linear_model import LinearRegression
  
classifier = LinearRegression()
classifier.fit(X_train, y_train)

LinearRegression()

In [89]:
print (classifier.score(X_train, y_train))
print(classifier.score(X_test, y_test))
# very high coefficient of determination on the train set, lower on the test set

0.9971498308553326
0.971229819095482

In [90]:
y_train_pred = classifier.predict(X_train)
y_test_pred = classifier.predict(X_test)
from sklearn.metrics import mean_squared_error
train_mse = mean_squared_error(y_train, y_train_pred)
test_mse = mean_squared_error(y_test, y_test_pred)
print(train_mse, test_mse)
# mse considerably higher on test set than train set
# higher in general than I would have thought. maybe I should compare these scores to a simple naive prediction using 
# the previous value.

65.14954633823858 193.58699139121558

In [91]:
y_train_pred

array([183.1865224 , 180.69614961, 181.4084901 , ..., 656.58183816,
       664.93181076, 658.73352565])

In [92]:
y_train

0       180.50
1       181.00
2       180.25
3       180.25
4       179.75
         ...
5200    658.25
5201    658.25
5202    664.50
5203    659.50
5204    657.25
Name: close, Length: 5205, dtype: float64

In [93]:
X_train = X_train.to_numpy()

In [94]:
X_train

array([[179.25, 180.75, 182.  , ..., 187.75, 184.5 , 182.75],
       [180.75, 182.  , 186.  , ..., 184.5 , 182.75, 180.5 ],
       [182.  , 186.  , 187.75, ..., 182.75, 180.5 , 181.  ],
       ...,
       [759.5 , 757.5 , 719.  , ..., 652.5 , 658.25, 658.25],
       [757.5 , 719.  , 685.  , ..., 658.25, 658.25, 664.5 ],
       [719.  , 685.  , 652.5 , ..., 658.25, 664.5 , 659.5 ]])

In [98]:
X_train = X_train[:,None,:]
X_train

In [99]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
# create and fit the LSTM network
model = Sequential()
model.add(LSTM(4, input_shape=(1,7)))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(X_train, y_train, epochs=100, batch_size=1, verbose=2)

Epoch 1/100
5205/5205 - 7s - loss: 167048.3281 - 7s/epoch - 1ms/step
Epoch 2/100
5205/5205 - 5s - loss: 160675.8438 - 5s/epoch - 1ms/step
Epoch 3/100
5205/5205 - 6s - loss: 154471.4844 - 6s/epoch - 1ms/step
Epoch 4/100
5205/5205 - 6s - loss: 148428.2188 - 6s/epoch - 1ms/step
Epoch 5/100
5205/5205 - 6s - loss: 142558.4375 - 6s/epoch - 1ms/step
Epoch 6/100
5205/5205 - 6s - loss: 136845.8438 - 6s/epoch - 1ms/step
Epoch 7/100
5205/5205 - 6s - loss: 131311.3906 - 6s/epoch - 1ms/step
Epoch 8/100
5205/5205 - 6s - loss: 125929.3359 - 6s/epoch - 1ms/step
Epoch 9/100
5205/5205 - 6s - loss: 120703.1172 - 6s/epoch - 1ms/step
Epoch 10/100
5205/5205 - 6s - loss: 115626.2109 - 6s/epoch - 1ms/step
Epoch 11/100
5205/5205 - 6s - loss: 110721.2031 - 6s/epoch - 1ms/step
Epoch 12/100
5205/5205 - 6s - loss: 105981.3906 - 6s/epoch - 1ms/step
Epoch 13/100
5205/5205 - 6s - loss: 101420.3281 - 6s/epoch - 1ms/step
Epoch 14/100
5205/5205 - 6s - loss: 96978.4141 - 6s/epoch - 1ms/step
Epoch 15/100
5205/5205 - 6s - loss: 92713.4922 - 6s/epoch - 1ms/step
Epoch 16/100
5205/5205 - 6s - loss: 88608.7422 - 6s/epoch - 1ms/step
Epoch 17/100
5205/5205 - 6s - loss: 84655.8594 - 6s/epoch - 1ms/step
Epoch 18/100
5205/5205 - 6s - loss: 80850.2812 - 6s/epoch - 1ms/step
Epoch 19/100
5205/5205 - 6s - loss: 77193.7656 - 6s/epoch - 1ms/step
Epoch 20/100
5205/5205 - 6s - loss: 73701.6797 - 6s/epoch - 1ms/step
Epoch 21/100
5205/5205 - 6s - loss: 70363.5703 - 6s/epoch - 1ms/step
Epoch 22/100
5205/5205 - 6s - loss: 67167.9219 - 6s/epoch - 1ms/step
Epoch 23/100
5205/5205 - 6s - loss: 64121.0664 - 6s/epoch - 1ms/step
Epoch 24/100
5205/5205 - 6s - loss: 61231.2109 - 6s/epoch - 1ms/step
Epoch 25/100
5205/5205 - 6s - loss: 58463.4219 - 6s/epoch - 1ms/step
Epoch 26/100
5205/5205 - 6s - loss: 55854.1719 - 6s/epoch - 1ms/step
Epoch 27/100
5205/5205 - 6s - loss: 53365.5625 - 6s/epoch - 1ms/step
Epoch 28/100
5205/5205 - 6s - loss: 51032.6328 - 6s/epoch - 1ms/step
Epoch 29/100
5205/5205 - 6s - loss: 48812.5703 - 6s/epoch - 1ms/step
Epoch 30/100
5205/5205 - 6s - loss: 46725.4883 - 6s/epoch - 1ms/step
Epoch 31/100
5205/5205 - 6s - loss: 44778.8477 - 6s/epoch - 1ms/step
Epoch 32/100
5205/5205 - 6s - loss: 42948.8555 - 6s/epoch - 1ms/step
Epoch 33/100
5205/5205 - 6s - loss: 41240.5078 - 6s/epoch - 1ms/step
Epoch 34/100
5205/5205 - 6s - loss: 39641.3438 - 6s/epoch - 1ms/step
Epoch 35/100
5205/5205 - 6s - loss: 38161.5195 - 6s/epoch - 1ms/step
Epoch 36/100
5205/5205 - 6s - loss: 36782.5664 - 6s/epoch - 1ms/step
Epoch 37/100
5205/5205 - 6s - loss: 35507.1055 - 6s/epoch - 1ms/step
Epoch 38/100
5205/5205 - 6s - loss: 34322.7812 - 6s/epoch - 1ms/step
Epoch 39/100
5205/5205 - 6s - loss: 33239.9102 - 6s/epoch - 1ms/step
Epoch 40/100
5205/5205 - 6s - loss: 32248.9297 - 6s/epoch - 1ms/step
Epoch 41/100
5205/5205 - 6s - loss: 31329.7422 - 6s/epoch - 1ms/step
Epoch 42/100
5205/5205 - 6s - loss: 30497.6777 - 6s/epoch - 1ms/step
Epoch 43/100
5205/5205 - 6s - loss: 29732.8223 - 6s/epoch - 1ms/step
Epoch 44/100
5205/5205 - 6s - loss: 29034.8379 - 6s/epoch - 1ms/step
Epoch 45/100
5205/5205 - 6s - loss: 28401.4570 - 6s/epoch - 1ms/step
Epoch 46/100
5205/5205 - 6s - loss: 27830.0742 - 6s/epoch - 1ms/step
Epoch 47/100
5205/5205 - 6s - loss: 27311.1152 - 6s/epoch - 1ms/step
Epoch 48/100
5205/5205 - 6s - loss: 26844.2188 - 6s/epoch - 1ms/step
Epoch 49/100
5205/5205 - 6s - loss: 26422.4023 - 6s/epoch - 1ms/step
Epoch 50/100
5205/5205 - 6s - loss: 26040.2598 - 6s/epoch - 1ms/step
Epoch 51/100
5205/5205 - 6s - loss: 25698.3633 - 6s/epoch - 1ms/step
Epoch 52/100
5205/5205 - 6s - loss: 25392.5703 - 6s/epoch - 1ms/step
Epoch 53/100
5205/5205 - 6s - loss: 25116.3672 - 6s/epoch - 1ms/step
Epoch 54/100
5205/5205 - 6s - loss: 24869.8965 - 6s/epoch - 1ms/step
Epoch 55/100
5205/5205 - 6s - loss: 24648.5879 - 6s/epoch - 1ms/step
Epoch 56/100
5205/5205 - 6s - loss: 24451.6914 - 6s/epoch - 1ms/step
Epoch 57/100
5205/5205 - 6s - loss: 24275.3770 - 6s/epoch - 1ms/step
Epoch 58/100
5205/5205 - 6s - loss: 24118.0352 - 6s/epoch - 1ms/step
Epoch 59/100
5205/5205 - 6s - loss: 23977.6348 - 6s/epoch - 1ms/step
Epoch 60/100
5205/5205 - 6s - loss: 23853.0488 - 6s/epoch - 1ms/step
Epoch 61/100
5205/5205 - 6s - loss: 23742.0879 - 6s/epoch - 1ms/step
Epoch 62/100
5205/5205 - 6s - loss: 23643.1797 - 6s/epoch - 1ms/step
Epoch 63/100
5205/5205 - 6s - loss: 23554.7598 - 6s/epoch - 1ms/step
Epoch 64/100
5205/5205 - 6s - loss: 23476.5488 - 6s/epoch - 1ms/step
Epoch 65/100
5205/5205 - 6s - loss: 23407.1445 - 6s/epoch - 1ms/step
Epoch 66/100
5205/5205 - 6s - loss: 23345.2695 - 6s/epoch - 1ms/step
Epoch 67/100
5205/5205 - 6s - loss: 23290.0098 - 6s/epoch - 1ms/step
Epoch 68/100
5205/5205 - 6s - loss: 23241.2285 - 6s/epoch - 1ms/step
Epoch 69/100
5205/5205 - 6s - loss: 23197.9902 - 6s/epoch - 1ms/step
Epoch 70/100
5205/5205 - 6s - loss: 23159.7148 - 6s/epoch - 1ms/step
Epoch 71/100
5205/5205 - 6s - loss: 23125.5781 - 6s/epoch - 1ms/step
Epoch 72/100
5205/5205 - 6s - loss: 23095.0820 - 6s/epoch - 1ms/step
Epoch 73/100
5205/5205 - 6s - loss: 23068.2949 - 6s/epoch - 1ms/step
Epoch 74/100
5205/5205 - 6s - loss: 23044.5938 - 6s/epoch - 1ms/step
Epoch 75/100
5205/5205 - 6s - loss: 23023.4883 - 6s/epoch - 1ms/step
Epoch 76/100
5205/5205 - 6s - loss: 23004.7305 - 6s/epoch - 1ms/step
Epoch 77/100
5205/5205 - 6s - loss: 22988.1387 - 6s/epoch - 1ms/step
Epoch 78/100
5205/5205 - 6s - loss: 22973.4941 - 6s/epoch - 1ms/step
Epoch 79/100
5205/5205 - 6s - loss: 22960.4336 - 6s/epoch - 1ms/step
Epoch 80/100
5205/5205 - 6s - loss: 22948.8945 - 6s/epoch - 1ms/step
Epoch 81/100
5205/5205 - 6s - loss: 22938.6660 - 6s/epoch - 1ms/step
Epoch 82/100
5205/5205 - 6s - loss: 22929.6621 - 6s/epoch - 1ms/step
Epoch 83/100
5205/5205 - 6s - loss: 22921.5352 - 6s/epoch - 1ms/step
Epoch 84/100
5205/5205 - 6s - loss: 22914.3848 - 6s/epoch - 1ms/step
Epoch 85/100
5205/5205 - 6s - loss: 22908.0703 - 6s/epoch - 1ms/step
Epoch 86/100
5205/5205 - 6s - loss: 22902.4316 - 6s/epoch - 1ms/step
Epoch 87/100
5205/5205 - 6s - loss: 22897.4395 - 6s/epoch - 1ms/step
Epoch 88/100
5205/5205 - 6s - loss: 22892.9922 - 6s/epoch - 1ms/step
Epoch 89/100
5205/5205 - 6s - loss: 22889.1074 - 6s/epoch - 1ms/step
Epoch 90/100
5205/5205 - 6s - loss: 22885.6836 - 6s/epoch - 1ms/step
Epoch 91/100
5205/5205 - 6s - loss: 22882.5957 - 6s/epoch - 1ms/step
Epoch 92/100
5205/5205 - 6s - loss: 22879.8633 - 6s/epoch - 1ms/step
Epoch 93/100
5205/5205 - 6s - loss: 22877.4043 - 6s/epoch - 1ms/step
Epoch 94/100
5205/5205 - 6s - loss: 22875.3281 - 6s/epoch - 1ms/step
Epoch 95/100
5205/5205 - 6s - loss: 22873.4219 - 6s/epoch - 1ms/step
Epoch 96/100
5205/5205 - 6s - loss: 22871.7539 - 6s/epoch - 1ms/step
Epoch 97/100
5205/5205 - 6s - loss: 22870.2148 - 6s/epoch - 1ms/step
Epoch 98/100
5205/5205 - 6s - loss: 22868.9023 - 6s/epoch - 1ms/step
Epoch 99/100
5205/5205 - 6s - loss: 22867.6738 - 6s/epoch - 1ms/step
Epoch 100/100
5205/5205 - 6s - loss: 22866.6855 - 6s/epoch - 1ms/step

In [100]:
X_test = X_test.to_numpy()
X_test = X_test[:,None,:]
X_test

array([[[685.  , 652.5 , 658.25, ..., 664.5 , 659.5 , 657.25]],

       [[652.5 , 658.25, 658.25, ..., 659.5 , 657.25, 620.25]],

       [[658.25, 658.25, 664.5 , ..., 657.25, 620.25, 624.5 ]],

       ...,

       [[469.5 , 461.75, 461.  , ..., 471.  , 471.5 , 470.75]],

       [[461.75, 461.  , 464.75, ..., 471.5 , 470.75, 468.5 ]],

       [[461.  , 464.75, 471.  , ..., 470.75, 468.5 , 471.25]]])

In [102]:
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)
from sklearn.metrics import mean_squared_error
train_mse = mean_squared_error(y_train, y_train_pred)
test_mse = mean_squared_error(y_test, y_test_pred)
print(train_mse, test_mse)
# higher mse

163/163 [==============================] - 0s 659us/step
19/19 [==============================] - 0s 765us/step
22865.94781335876 71500.14079386462