In [1]:
# https://www.kaggle.com/datasets/guillemservera/grains-and-cereals-futures
import pandas as pd
grains_df = pd.read_csv('all_grains_data.csv')
grains_df

      ticker commodity        date     open     high      low    close  volume
0       ZC=F      Corn  2000-07-17   182.25   182.25   178.25   179.25   19385
1       ZC=F      Corn  2000-07-18   179.00   183.25   179.00   180.75   25205
2       ZC=F      Corn  2000-07-19   180.00   182.75   178.75   182.00   17126
3       ZC=F      Corn  2000-07-20   181.50   187.00   181.00   186.00   18742
4       ZC=F      Corn  2000-07-21   185.50   188.00   185.00   187.75   16814
...      ...       ...         ...      ...      ...      ...      ...     ...
34860   ZS=F   Soybean  2023-09-06  1365.50  1365.50  1359.50  1360.25     102
34861   ZS=F   Soybean  2023-09-07  1349.50  1350.00  1345.00  1345.00     310
34862   ZS=F   Soybean  2023-09-08  1339.00  1349.50  1339.00  1349.50     198
34863   ZS=F   Soybean  2023-09-11  1352.50  1352.50  1352.00  1352.50      36
34864   ZS=F   Soybean  2023-09-12  1344.75  1350.00  1342.50  1343.75    8642

[34865 rows x 8 columns]

In [2]:
grains_df['commodity'].unique()

array(['Corn', 'Oat', 'KC HRW Wheat', 'Rough Rice', 'Soybean Oil',
       'Soybean'], dtype=object)

In [5]:
corn_df = pd.read_csv('individual_data/Corn_data.csv')
corn_df

            date    open    high     low   close  volume
0     2000-07-17  182.25  182.25  178.25  179.25   19385
1     2000-07-18  179.00  183.25  179.00  180.75   25205
2     2000-07-19  180.00  182.75  178.75  182.00   17126
3     2000-07-20  181.50  187.00  181.00  186.00   18742
4     2000-07-21  185.50  188.00  185.00  187.75   16814
...          ...     ...     ...     ...     ...     ...
5786  2023-09-06  473.50  476.25  471.25  471.50     841
5787  2023-09-07  471.25  474.00  468.50  470.75     741
5788  2023-09-08  471.25  472.25  467.00  468.50     233
5789  2023-09-11  470.25  471.50  468.00  471.25     430
5790  2023-09-12  476.50  477.75  476.00  476.75    4399

[5791 rows x 6 columns]

In [17]:
corn_dict = {}
window_size = 7
for i in range(window_size):
    corn_dict['price_'+str(7-i)+'_days_ago'] = corn_df['close'][i:-7+i].reset_index(drop=True) 
corn_dict

{'price_7_days_ago': 0       179.25
 1       180.75
 2       182.00
 3       186.00
 4       187.75
          ...
 5779    470.75
 5780    478.50
 5781    469.50
 5782    461.75
 5783    461.00
 Name: close, Length: 5784, dtype: float64,
 'price_6_days_ago': 0       180.75
 1       182.00
 2       186.00
 3       187.75
 4       184.50
          ...
 5779    478.50
 5780    469.50
 5781    461.75
 5782    461.00
 5783    464.75
 Name: close, Length: 5784, dtype: float64,
 'price_5_days_ago': 0       182.00
 1       186.00
 2       187.75
 3       184.50
 4       182.75
          ...
 5779    469.50
 5780    461.75
 5781    461.00
 5782    464.75
 5783    471.00
 Name: close, Length: 5784, dtype: float64,
 'price_4_days_ago': 0       186.00
 1       187.75
 2       184.50
 3       182.75
 4       180.50
          ...
 5779    461.75
 5780    461.00
 5781    464.75
 5782    471.00
 5783    471.50
 Name: close, Length: 5784, dtype: float64,
 'price_3_days_ago': 0       187.75
 1       184.50
 2       182.75
 3       180.50
 4       181.00
          ...
 5779    461.00
 5780    464.75
 5781    471.00
 5782    471.50
 5783    470.75
 Name: close, Length: 5784, dtype: float64,
 'price_2_days_ago': 0       184.50
 1       182.75
 2       180.50
 3       181.00
 4       180.25
          ...
 5779    464.75
 5780    471.00
 5781    471.50
 5782    470.75
 5783    468.50
 Name: close, Length: 5784, dtype: float64,
 'price_1_days_ago': 0       182.75
 1       180.50
 2       181.00
 3       180.25
 4       180.25
          ...
 5779    471.00
 5780    471.50
 5781    470.75
 5782    468.50
 5783    471.25
 Name: close, Length: 5784, dtype: float64}

In [19]:
X = pd.DataFrame.from_dict(corn_dict)
X

,price_7_days_ago,price_6_days_ago,price_5_days_ago,price_4_days_ago,price_3_days_ago,price_2_days_ago,price_1_days_ago
0,179.25,180.75,182.00,186.00,187.75,184.50,182.75
1,180.75,182.00,186.00,187.75,184.50,182.75,180.50
2,182.00,186.00,187.75,184.50,182.75,180.50,181.00
3,186.00,187.75,184.50,182.75,180.50,181.00,180.25
4,187.75,184.50,182.75,180.50,181.00,180.25,180.25
...,...,...,...,...,...,...,...
5779,470.75,478.50,469.50,461.75,461.00,464.75,471.00
5780,478.50,469.50,461.75,461.00,464.75,471.00,471.50
5781,469.50,461.75,461.00,464.75,471.00,471.50,470.75
5782,461.75,461.00,464.75,471.00,471.50,470.75,468.50
5783,461.00,464.75,471.00,471.50,470.75,468.50,471.25

In [24]:
y = corn_df['close'][7:].reset_index(drop=True) 
y

0       180.50
1       181.00
2       180.25
3       180.25
4       179.75
         ...
5779    471.50
5780    470.75
5781    468.50
5782    471.25
5783    476.75
Name: close, Length: 5784, dtype: float64

In [28]:
train_pct = .9
X_train = X[:int(len(X)*train_pct)]
X_test = X[int(len(X)*train_pct):]
y_train = y[:int(len(y)*train_pct)]
y_test = y[int(len(y)*train_pct):]

In [30]:
from sklearn.linear_model import LinearRegression
  
classifier = LinearRegression()
classifier.fit(X_train, y_train)

LinearRegression()

In [31]:
print (classifier.score(X_train, y_train))
print(classifier.score(X_test, y_test))
# very high coefficient of determination on the train set, lower on the test set

0.9971498308553326
0.971229819095482

In [32]:
y_train_pred = classifier.predict(X_train)
y_test_pred = classifier.predict(X_test)
from sklearn.metrics import mean_squared_error
train_mse = mean_squared_error(y_train, y_train_pred)
test_mse = mean_squared_error(y_test, y_test_pred)
print(train_mse, test_mse)
# mse considerably higher on test set than train set
# higher in general than I would have thought. maybe I should compare these scores to a simple naive prediction using 
# the previous value.

65.14954633823858 193.58699139121558

In [33]:
y_train_pred

array([183.1865224 , 180.69614961, 181.4084901 , ..., 656.58183816,
       664.93181076, 658.73352565])

In [34]:
y_train

0       180.50
1       181.00
2       180.25
3       180.25
4       179.75
         ...
5200    658.25
5201    658.25
5202    664.50
5203    659.50
5204    657.25
Name: close, Length: 5205, dtype: float64