# Reading in the data

In [1]:
import pandas as pd
lol_games = pd.read_csv("high_diamond_ranked_10min.csv")
lol_games

,gameId,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
0,4519157822,0,28,2,1,9,6,11,0,0,...,0,16567,6.8,17047,197,55,-643,8,19.7,1656.7
1,4523371949,0,12,1,0,5,5,5,0,0,...,1,17620,6.8,17438,240,52,2908,1173,24.0,1762.0
2,4521474530,0,15,0,0,7,11,4,1,1,...,0,17285,6.8,17254,203,28,1172,1033,20.3,1728.5
3,4524384067,0,43,1,0,4,5,5,1,0,...,0,16478,7.0,17961,235,47,1321,7,23.5,1647.8
4,4436033771,0,75,4,0,6,6,6,0,0,...,0,17404,7.0,18313,225,67,1004,-230,22.5,1740.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9874,4527873286,1,17,2,1,7,4,5,1,1,...,0,15246,6.8,16498,229,34,-2519,-2469,22.9,1524.6
9875,4527797466,1,54,0,0,6,4,8,1,1,...,0,15456,7.0,18367,206,56,-782,-888,20.6,1545.6
9876,4527713716,0,23,1,0,6,7,5,0,0,...,0,18319,7.4,19909,261,60,2416,1877,26.1,1831.9
9877,4527628313,0,14,4,1,2,3,3,1,1,...,0,15298,7.2,18314,247,40,839,1085,24.7,1529.8
9878,4523772935,1,18,0,1,6,6,5,0,0,...,0,15339,6.8,17379,201,46,-927,58,20.1,1533.9

In [14]:
lol_games = lol_games.drop('gameId', axis=1)
lol_games

,blueWins,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
0,0,28,2,1,9,6,11,0,0,0,...,0,16567,6.8,17047,197,55,-643,8,19.7,1656.7
1,0,12,1,0,5,5,5,0,0,0,...,1,17620,6.8,17438,240,52,2908,1173,24.0,1762.0
2,0,15,0,0,7,11,4,1,1,0,...,0,17285,6.8,17254,203,28,1172,1033,20.3,1728.5
3,0,43,1,0,4,5,5,1,0,1,...,0,16478,7.0,17961,235,47,1321,7,23.5,1647.8
4,0,75,4,0,6,6,6,0,0,0,...,0,17404,7.0,18313,225,67,1004,-230,22.5,1740.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9874,1,17,2,1,7,4,5,1,1,0,...,0,15246,6.8,16498,229,34,-2519,-2469,22.9,1524.6
9875,1,54,0,0,6,4,8,1,1,0,...,0,15456,7.0,18367,206,56,-782,-888,20.6,1545.6
9876,0,23,1,0,6,7,5,0,0,0,...,0,18319,7.4,19909,261,60,2416,1877,26.1,1831.9
9877,0,14,4,1,2,3,3,1,1,0,...,0,15298,7.2,18314,247,40,839,1085,24.7,1529.8
9878,1,18,0,1,6,6,5,0,0,0,...,0,15339,6.8,17379,201,46,-927,58,20.1,1533.9

In [16]:
#X = lol_games.drop(['blueWins', 'redGoldDiff', 'redExperienceDiff', 'redFirstBlood','blueGoldPerMin', 'redGoldPerMin', 'blueCSPerMin', 'redCSPerMin'], axis=1)
X = lol_games.drop('blueWins', axis=1)
y = lol_games['blueWins'].values
X

,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,blueTowersDestroyed,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
0,28,2,1,9,6,11,0,0,0,0,...,0,16567,6.8,17047,197,55,-643,8,19.7,1656.7
1,12,1,0,5,5,5,0,0,0,0,...,1,17620,6.8,17438,240,52,2908,1173,24.0,1762.0
2,15,0,0,7,11,4,1,1,0,0,...,0,17285,6.8,17254,203,28,1172,1033,20.3,1728.5
3,43,1,0,4,5,5,1,0,1,0,...,0,16478,7.0,17961,235,47,1321,7,23.5,1647.8
4,75,4,0,6,6,6,0,0,0,0,...,0,17404,7.0,18313,225,67,1004,-230,22.5,1740.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9874,17,2,1,7,4,5,1,1,0,0,...,0,15246,6.8,16498,229,34,-2519,-2469,22.9,1524.6
9875,54,0,0,6,4,8,1,1,0,0,...,0,15456,7.0,18367,206,56,-782,-888,20.6,1545.6
9876,23,1,0,6,7,5,0,0,0,0,...,0,18319,7.4,19909,261,60,2416,1877,26.1,1831.9
9877,14,4,1,2,3,3,1,1,0,0,...,0,15298,7.2,18314,247,40,839,1085,24.7,1529.8
9878,18,0,1,6,6,5,0,0,0,0,...,0,15339,6.8,17379,201,46,-927,58,20.1,1533.9

In [17]:
#Splitting the data into Training Set and Test Set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=0)
X_test

,blueWardsPlaced,blueWardsDestroyed,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueHeralds,blueTowersDestroyed,...,redTowersDestroyed,redTotalGold,redAvgLevel,redTotalExperience,redTotalMinionsKilled,redTotalJungleMinionsKilled,redGoldDiff,redExperienceDiff,redCSPerMin,redGoldPerMin
3535,13,1,1,5,7,5,0,0,0,0,...,0,16463,7.0,18230,197,68,887,1878,19.7,1646.3
7150,18,7,1,7,2,5,0,0,0,0,...,0,14788,6.8,16859,225,44,-1496,-1758,22.5,1478.8
9578,12,1,0,6,11,5,0,0,0,0,...,0,18363,7.4,19694,206,64,2082,2125,20.6,1836.3
6882,12,3,0,3,9,0,0,0,0,0,...,0,17543,7.0,18875,223,50,3041,1317,22.3,1754.3
3766,17,2,1,5,9,5,0,0,0,0,...,0,17000,6.4,16659,179,68,1047,193,17.9,1700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,20,2,0,4,6,3,0,0,0,0,...,0,17148,7.2,18645,243,64,1630,531,24.3,1714.8
6556,16,3,1,2,4,4,0,0,0,0,...,0,16060,7.2,19262,227,63,1285,1925,22.7,1606.0
4110,10,2,0,9,1,13,1,0,1,0,...,0,15077,7.0,17096,244,58,-2252,-1086,24.4,1507.7
6198,87,2,0,2,4,0,0,0,0,0,...,0,15553,7.2,18916,206,64,1021,1439,20.6,1555.3
2615,78,1,1,4,10,7,0,0,0,0,...,0,18619,7.6,19898,238,59,3584,3248,23.8,1861.9

# Decision Tree

In [18]:
#Fitting Classifier to Training Set. Create a classifier object here and call it classifierObj
from sklearn.tree import DecisionTreeClassifier
classifierObj = DecisionTreeClassifier(criterion='entropy', random_state=0)
classifierObj.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [19]:
#Making predictions on the Test Set
decision_tree_pred = classifierObj.predict(X_test)

In [20]:
#Evaluating the predictions using a Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, decision_tree_pred)
cm

array([[984, 536],
       [512, 932]], dtype=int64)

In [21]:
classifierObj.score(X_test,y_test)
# a single decision tree gets a score of 64.6%

0.6464237516869096

# Random Forest

In [22]:
from sklearn.ensemble import RandomForestClassifier
classifierObj = RandomForestClassifier(n_estimators=500, criterion='entropy', max_depth=8, min_samples_leaf=20, random_state=0)
classifierObj.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy', max_depth=8, min_samples_leaf=20,
                       n_estimators=500, random_state=0)

In [23]:
#Making predictions on the Test Set
random_forest_pred = classifierObj.predict(X_test)

In [24]:
classifierObj.score(X_test,y_test)
# 72.3%

0.7230094466936572

# KNN

In [25]:
#Normalizing the features
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train_normalized = sc_X.fit_transform(X_train)
X_test_normalized = sc_X.transform(X_test)

In [26]:
#Fitting Classifier to Training Set. Create a classifier object here and call it classifierObj
from sklearn.neighbors import KNeighborsClassifier
classifierObj = KNeighborsClassifier(n_neighbors=50, p=2, metric='minkowski')
classifierObj.fit(X_train_normalized, y_train)

KNeighborsClassifier(n_neighbors=50)

In [27]:
#Making predictions on the Test Set
knn_pred = classifierObj.predict(X_test_normalized)

In [28]:
classifierObj.score(X_test_normalized,y_test)
# 71.5%

0.7152496626180836

# Logistic Regression

In [21]:
#Fitting Logistic Regression to Training Set
from sklearn.linear_model import LogisticRegression
classifierObj = LogisticRegression(random_state=0)
classifierObj.fit(X_train, y_train)

LogisticRegression(random_state=0)

In [23]:
#Making predictions on the Test Set
logistic_reg_pred = classifierObj.predict(X_test)

In [24]:
classifierObj.score(X_test,y_test)
# 72.1%

0.7213225371120108

# Naive Bayes

In [25]:
#Fitting Classifier to Training Set. Create a classifier object here and call it classifierObj
from sklearn.naive_bayes import GaussianNB
classifierObj = GaussianNB()
classifierObj.fit(X_train, y_train)

GaussianNB()

In [26]:
#Making predictions on the Test Set
naive_bayes_pred = classifierObj.predict(X_test)

In [27]:
classifierObj.score(X_test,y_test)
# 71.9%

0.7189608636977058

# SVM

In [29]:
#Fitting Classifier to Training Set. Create a classifier object here and call it classifierObj
# can use linear, poly, rbf, sigmoid,or precomputed kernels
from sklearn.svm import SVC
classifierObj = SVC(C=2, kernel='linear')
classifierObj.fit(X_train, y_train)

SVC(C=2, kernel='linear')

In [30]:
#Making predictions on the Test Set
svm_pred = classifierObj.predict(X_test)

In [31]:
classifierObj.score(X_test,y_test)
# 72%

0.7223346828609987

# Ensemble

In [31]:
total = random_forest_pred + knn_pred + logistic_reg_pred + naive_bayes_pred + svm_pred
# sets all values to one or zero
for i in range(len(total)):
    if total[i] >= 3:
        total[i] = 1
    else:
        total[i] = 0
sum(total == y_test)/len(y_test)
# very similar to what we got before

0.7192982456140351

In [33]:
data = {'Random Forest':  random_forest_pred,
        'KNN': knn_pred,
        'Logistic Regression': logistic_reg_pred,
        'Naive Bayes': naive_bayes_pred,
        'SVM': svm_pred
        }
predictions = pd.DataFrame (data)

In [35]:
predictions.corr()

,Random Forest,KNN,Logistic Regression,Naive Bayes,SVM
Random Forest,1.000000,0.827826,0.898788,0.895322,0.916232
KNN,0.827826,1.000000,0.772461,0.835233,0.804842
Logistic Regression,0.898788,0.772461,1.000000,0.837277,0.908197
Naive Bayes,0.895322,0.835233,0.837277,1.000000,0.892608
SVM,0.916232,0.804842,0.908197,0.892608,1.000000

In [38]:
sum(logistic_reg_pred == knn_pred)/len(y_test)

0.886302294197031