In [1]:
import pandas as pd

In [8]:
obsidian_flames = pd.read_csv('Obsidian_Flames.csv', index_col = 'Unnamed: 0')
obsidian_flames

,Product,Foil,Date Range,Market Price
0,Absol ex - 135/197,['Holofoil Market Price: '],7/18 to 7/20,$0.00
1,Absol ex - 135/197,['Holofoil Market Price: '],7/21 to 7/23,$0.00
2,Absol ex - 135/197,['Holofoil Market Price: '],7/24 to 7/26,$0.00
3,Absol ex - 135/197,['Holofoil Market Price: '],7/27 to 7/29,$0.00
4,Absol ex - 135/197,['Holofoil Market Price: '],7/30 to 8/1,$4.87
...,...,...,...,...
12925,Zigzagoon,['Reverse Holofoil Market Price: '],10/7 to 10/9,$0.06
12926,Zigzagoon,[' Market Price: '],10/10 to 10/12,$0.03
12927,Zigzagoon,['Reverse Holofoil Market Price: '],10/10 to 10/12,$0.06
12928,Zigzagoon,[' Market Price: '],10/13 to 10/15,$0.03
12929,Zigzagoon,['Reverse Holofoil Market Price: '],10/13 to 10/15,$0.06

In [9]:
obsidian_flames['Foil'].unique()

array(["['Holofoil Market Price: ']", "[' Market Price: ']",
       "['Reverse Holofoil Market Price: ']"], dtype=object)

In [10]:
obsidian_flames.replace({'Foil' : { "[' Market Price: ']" : "Normal",
                               "['Reverse Holofoil Market Price: ']" : "Reverse Holofoil", 
                               "['Holofoil Market Price: ']" : "Holofoil"}}, inplace=True)
obsidian_flames

                  Product              Foil      Date Range Market Price
0      Absol ex - 135/197          Holofoil    7/18 to 7/20        $0.00
1      Absol ex - 135/197          Holofoil    7/21 to 7/23        $0.00
2      Absol ex - 135/197          Holofoil    7/24 to 7/26        $0.00
3      Absol ex - 135/197          Holofoil    7/27 to 7/29        $0.00
4      Absol ex - 135/197          Holofoil     7/30 to 8/1        $4.87
...                   ...               ...             ...          ...
12925           Zigzagoon  Reverse Holofoil    10/7 to 10/9        $0.06
12926           Zigzagoon            Normal  10/10 to 10/12        $0.03
12927           Zigzagoon  Reverse Holofoil  10/10 to 10/12        $0.06
12928           Zigzagoon            Normal  10/13 to 10/15        $0.03
12929           Zigzagoon  Reverse Holofoil  10/13 to 10/15        $0.06

[12930 rows x 4 columns]

In [12]:
sum(obsidian_flames['Market Price'] == "$0.00") / len(obsidian_flames['Market Price'] == "$0.00")
# Just 20% of the dataset has $0.00 market price

0.20471771075019335