In [38]:
import pandas as pd

In [39]:
pokemon_151 = pd.read_csv('Pokemon_151.csv', index_col = 'Unnamed: 0')
pokemon_151

,Product,Foil,Date Range,Market Price
0,151: Alakazam ex Collection,[' Market Price: '],7/17 to 7/19,$31.98
1,151: Alakazam ex Collection,[' Market Price: '],7/20 to 7/22,$31.77
2,151: Alakazam ex Collection,[' Market Price: '],7/23 to 7/25,$31.21
3,151: Alakazam ex Collection,[' Market Price: '],7/26 to 7/28,$31.12
4,151: Alakazam ex Collection,[' Market Price: '],7/29 to 7/31,$29.44
...,...,...,...,...
11515,Zubat,['Reverse Holofoil Market Price: '],10/6 to 10/8,$0.23
11516,Zubat,[' Market Price: '],10/9 to 10/11,$0.06
11517,Zubat,['Reverse Holofoil Market Price: '],10/9 to 10/11,$0.21
11518,Zubat,[' Market Price: '],10/12 to 10/14,$0.04
11519,Zubat,['Reverse Holofoil Market Price: '],10/12 to 10/14,$0.21

In [40]:
len(pokemon_151['Product'].unique())

230